.carousel-link-btn {
    background-color: #000;
    padding: 0.5rem 1.7rem;
    padding-top: 0.7rem;
    font-size: 18px;
    color: #fff;
    margin-top: 2rem;
    transition: all .2s ease;
    &:hover{
        opacity: .90;
        color: #fff;
    }
}

.primary-btn {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1.3rem;
    padding-top: 0.7rem;
    text-transform: uppercase;
    display: inline-block;
    transition: all .21s ease-in-out;
    border-color: #000;
    @media (prefers-color-scheme: dark-disabled) {
        background-color: #fff;
        border-color: #fff;
        color: #000;
    }
    &:hover:not(:disabled) {
        background-color: var(--thm-primary-color);
        border-color: var(--thm-primary-color);
        color: #fff;
        text-shadow: 0 0 #fff;
        opacity: 1;
        box-shadow: -1px 3px 10px 1px #0000004d;
    }
    &:disabled {
        content: "يرجى الإنتظار...";
        opacity: .3;
        cursor: not-allowed;
    }
}

