// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$bg-color1:#f26822;
$bg-color2:#16263f;
$thm-primary-color: #034ea2;
$pic_sizes: 30, 40, 50, 75, 100, 120, 150, 200, 250, 300, 500;

:root{
    --sidebar-width:256px;
    --navbar-height:56px;
    --bs-primary-rgb:3, 78, 162;
    --thm-primary-color: #034ea2;
    --thm-font:'Roboto', 'Opan Sans', sans-serif;;
}
