$bg-color1:#121d2f;
$bg-color2:#16263f;
$thm-primary-color: #f26822;
$avatar_sizes: 30, 40, 50, 100, 120, 150, 200, 250, 300, 500;

:root{
    --sidebar-width:256px;
    --navbar-height:56px;
    --bs-primary-rgb:242,104,34;
    --thm-primary-color: #f26822;
    --thm-font:'Roboto', 'Opan Sans', sans-serif;;
}
