.product-card{
    position: relative;
    margin-bottom: 1.7rem;
    transition: all .27s ease-in-out;
    &:hover{
        transform: translateY(-3px);
    }
    .product-image-container{
        position: relative;
        width: 100%;
        padding-top: 70%;
        margin-bottom: .7rem;
        .product-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }
        }
        .img__{
            position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 1;
        }
    }
}
