.page-content{
    position: relative;
    padding: 1rem 0;
    @media (min-width:769px) {
        width: calc(100% - var(--sidebar-width));
        max-width: calc(100% - var(--sidebar-width));
        margin-left: auto;
        .rtl & {
            margin-left: unset;
            margin-right: auto;
        }
    }


    .main-breadcrumb {
        padding: 1.4rem;
        padding-bottom: 7rem;
        background-color: transparentize($bg-color2, 0)!important;
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    .mxw-1600 {max-width: 1600px; margin: 0 auto;}

    .app-content {
        position: absolute;
        top: calc(100% - 8rem);
        left: 0;
        right: 0;
        max-width: 1600px;
        margin: 0 auto;
        @media (min-width:769px) {
            padding: 1.5rem;
        }
        @media (min-width:1000px) {
            padding: 1.5rem 2rem;
        }

        @media (min-width:1500px) {
            padding: 1.5rem 2rem;
        }

        @media (max-width:768px) {
            padding: .6rem;
        }
    }

}

